<div class="content">
  <h1 *ngIf="light">
    <mat-icon (click)="togglePower()" [class.on]="light.on">power_settings_new</mat-icon>
    <span>{{light.name}}</span>
  </h1>
  <div>
    <mat-form-field>
      <mat-select placeholder="Select effect">
        <mat-option *ngFor="let effect of effects" [value]="effect.value">
          {{effect.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <input
      [(colorPicker)]="color"
      [cpToggle]="true"
      [cpDialogDisplay]="'inline'"
      (colorPickerChange)="onColorChange($event)"
    />
    <button mat-button>Reset</button>
  </div>
</div>
